<div class="w3-container">
<h2>Santa F&eacute de Antioquia</h2>
<p>Se ha convertido en el eje del turismo y el desarrollo para el Occidente Antioquieño, la ciudad colonial de de hermosos paisajes, la convierten en un destino para visitar y compartir en familia. 
Fundada por el Mariscal Jorge Robledo el 4 de Diciembre de 1541.</p>
</div>

<div class="w3-row">
  <div class="w3-col s3 w3-container w3-card-4">
  <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('catedral');">
    <img src="https://lh3.googleusercontent.com/D3s53w6g9jwVf4MWZODAbCcVmxtTMUfKgx__NB-nw7R8Sud5_FdYGR4EWVCHHlWxoktTSI9nKKcH17XXBgkg0iIOJPBJHOFIpcD1qjXqB4HbkNUv72nd9VvonAx53qyS9qyO42xQapvjM54XblJ5fT1zCZy8VOHQJxfzMSIsUcsofSELDtXV0UUafuOCt_4DfKS-t4QhpzDJCwUPfnuyQ93wsFJLZYAJlxhIJMFM-l3yjOea5N8_idNux6Iuyo-DcV7qf2VJqIKWF8iVFbmlO5WT_ZOmkoFzAnI7fG2RnrYirpV7RPc9rEvYvefWtcGRJr_kZDxJy2KRsTzZGNmMPs3mWbDeUp4-Pp7b0PL4jsMPPF-utoXbOVSSKHfJudDVXmIMjfR4p3V9tL9zsipJOFS9pUm_SabgFV365KEKoUO4RBMkdJW61YN_tzZAoAfR7fvzkL4QNBGAYRlRnlSQDnK8MR3NRW31lFW9Nb238qGTzu5quecwLRJ0FsnlmwPFgOWwlksyjASkcgem7OLTSbIn1ePgaG1JDpn56QsYEzyQK9IQuudMPZgB3hMNmoBq77K2pFt0N36U7Z5X7G6fw926mgDiXhqo=w819-h614-no" alt="Nature" style="width:100%">
  </a>
  <p>Catedral Basilica Metropolitana</p>
  </div>
  <div class="w3-col s3 w3-container w3-card-4">
    <a href="javascript:void(0)" class="w3-hover-opacity" onclick="openImg('catedralNoche');">
      <img src="https://lh3.googleusercontent.com/aKRx0Z-I_eaNpbhE06L1E4jEJabZZmZC3g6NoL2U2hs2dLv9rp64v8RiAxTcZ2VZ_veWhIv8rtGDP53J-eiijsndEZSsx33VQK8SeNU1uNpjRSENB2IX1YadYwGP2qtR_TwtgeN9u2XWNsUsd7ArWM8poziSrJNdyzz9Jsn8QqBY6MXdlxG7iJ1ltCZ0EK1o1Z9vZ3M8zTzbDDrJvnhS93JL_mS5ajU7umKjROZI5h0Ab3WYP8QwJGxX_L6fT40and3Cz4nVn7Tc25C5H66fhfHAWFPImT22v-v-1ZrhOOOpSxF21fTmsTzN-_6N9aCHJThKX-fFSTpcNfdI3f6w8g-1e9bDp71T_4thCfj5Ho7Yf_v_xCTBnrJIoP8bLpkan-AtLKXGF6fLHBjjDYytZCfezaoq_siXViSPiltZZJmo357lv9mp_Mep2NQR7RbbpXLtQfKQgXCIqrUwkEHWMxjVp77vwvyHVOVW1kK3Dd8DZRH40wCvtjUuhtVrhWrvVM4W2t9VtuHnjp_5SPI8mTB6FVaDTNDhBE38NHrVSfCRAKbSiKpyyjl4b3CT3v4nrP7St7RsuQ9c_lnN6y0OSKpS7PBdlKw-=w819-h614-no" alt="Fjords" style="width:100%">
    </a>
    <p>Catedral Basilica Metropolitana</p>
  </div>
</div>
<br>
<div id="catedral" class="picture w3-display-container w3-center w3-margin">
  <img src="https://lh3.googleusercontent.com/D3s53w6g9jwVf4MWZODAbCcVmxtTMUfKgx__NB-nw7R8Sud5_FdYGR4EWVCHHlWxoktTSI9nKKcH17XXBgkg0iIOJPBJHOFIpcD1qjXqB4HbkNUv72nd9VvonAx53qyS9qyO42xQapvjM54XblJ5fT1zCZy8VOHQJxfzMSIsUcsofSELDtXV0UUafuOCt_4DfKS-t4QhpzDJCwUPfnuyQ93wsFJLZYAJlxhIJMFM-l3yjOea5N8_idNux6Iuyo-DcV7qf2VJqIKWF8iVFbmlO5WT_ZOmkoFzAnI7fG2RnrYirpV7RPc9rEvYvefWtcGRJr_kZDxJy2KRsTzZGNmMPs3mWbDeUp4-Pp7b0PL4jsMPPF-utoXbOVSSKHfJudDVXmIMjfR4p3V9tL9zsipJOFS9pUm_SabgFV365KEKoUO4RBMkdJW61YN_tzZAoAfR7fvzkL4QNBGAYRlRnlSQDnK8MR3NRW31lFW9Nb238qGTzu5quecwLRJ0FsnlmwPFgOWwlksyjASkcgem7OLTSbIn1ePgaG1JDpn56QsYEzyQK9IQuudMPZgB3hMNmoBq77K2pFt0N36U7Z5X7G6fw926mgDiXhqo=w819-h614-no" alt="catedral" style="width:80% height:80%" class="w3-padding">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-display-topright w3-closebtn w3-padding-large w3-text-white">&times;</span>
  <div class="w3-display-bottommiddle w3-container w3-padding w3-text-white">Catedral Basilica Metropolitana</div>

</div>

<div id="catedralNoche" class="picture w3-display-container w3-center w3-margin">
  <img src="https://lh3.googleusercontent.com/aKRx0Z-I_eaNpbhE06L1E4jEJabZZmZC3g6NoL2U2hs2dLv9rp64v8RiAxTcZ2VZ_veWhIv8rtGDP53J-eiijsndEZSsx33VQK8SeNU1uNpjRSENB2IX1YadYwGP2qtR_TwtgeN9u2XWNsUsd7ArWM8poziSrJNdyzz9Jsn8QqBY6MXdlxG7iJ1ltCZ0EK1o1Z9vZ3M8zTzbDDrJvnhS93JL_mS5ajU7umKjROZI5h0Ab3WYP8QwJGxX_L6fT40and3Cz4nVn7Tc25C5H66fhfHAWFPImT22v-v-1ZrhOOOpSxF21fTmsTzN-_6N9aCHJThKX-fFSTpcNfdI3f6w8g-1e9bDp71T_4thCfj5Ho7Yf_v_xCTBnrJIoP8bLpkan-AtLKXGF6fLHBjjDYytZCfezaoq_siXViSPiltZZJmo357lv9mp_Mep2NQR7RbbpXLtQfKQgXCIqrUwkEHWMxjVp77vwvyHVOVW1kK3Dd8DZRH40wCvtjUuhtVrhWrvVM4W2t9VtuHnjp_5SPI8mTB6FVaDTNDhBE38NHrVSfCRAKbSiKpyyjl4b3CT3v4nrP7St7RsuQ9c_lnN6y0OSKpS7PBdlKw-=w819-h614-no" alt="Fjords" style="width:80% height:80%" class="w3-padding">
  <span onclick="this.parentElement.style.display='none'"
  class="w3-display-topright w3-closebtn w3-padding-large w3-text-white">&times;</span>
  <div class="w3-display-bottommiddle w3-container w3-padding w3-text-white">Catedral Basilica Metropolitana</div>
</div>


