<div class="w3-row-padding">

<% Galleries.each do |id, gallery| %>
  <div class="w3-third photoSlide">
    <div class="w3-card-2 w3-margin-top">
      <a href="<%= id %>">
        <img src='<%= gallery.url %>'
        style="width:100%" class="w3-hover-opacity" >
      </a>
      <div class="w3-container">
	       <h5><%= gallery.name %></h5>
      </div>
    </div>
  </div>
<% end %>

</div>





