<div class="w3-row-padding w3-margin-top">

  <div class="w3-third">
    <div class="w3-card-2">
    <a href="/ant">
      <img src='<%= PictureUrl["catedralDia"] %>'
       style="width:100%" class="w3-hover-opacity" >
    </a>
    <div class="w3-container">
	     <h5>Santa F&eacute de Antioquia</h5>
    </div>
    </div>
  </div>

<div class="w3-third">
  <div class="w3-card-2">
    <img src='<%= PictureUrl["tunelOccidente"] %>' style="width:100%">
    <div class="w3-container">
      <h5>San Cristobal</h5>
    </div>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card-2">
    <img src='<%= PictureUrl["piedraEmbalse"] %>' style="width:100%">
    <div class="w3-container">
      <h5>Guatap&eacute</h5>
    </div>
  </div>
</div>

</div>





