<!DOCTYPE html>

<html>
	<head>
		<title>Colombia desde el aire</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/w3.css">
		<link rel="stylesheet" href="css/local.css">
	</head>
	<body>
		<a href='/'>
		<div class="w3-container w3-teal w3-bottombar">
			
  				<h1>Colombia Desde el Aire</h1>
  				<h4>Una mirada a nuestra hermosa Colombia, desde otro punto de vista</h4>
  			
		</div>
		</a>
		<div id='main'>
      		<%= yield %>
    	</div>	
	</body>

</html>