.picture {
	display:none;
}

a:link {
	text-decoration: none;
}

a:visited {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
  .hidden_on_mobile {
    visibility: hidden;
    
  }
}